<div class="inner mt-4">
  <h1>How would you like to help?</h1>
  <%= form_tag(volunteerSearch_path, :method => "get", :class=>"form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :volunteerSearch, params[:volunteerSearch], placeholder: "Search postcode/address", class: "form-control mr-sm-2" %>

    <span class="input-group-btn"> <%= submit_tag "Search", class: 'btn btn-info' %> </span>
  <% end %>

</div>
<% if @foodbank != nil %>
  <%= render 'shared/map' %>
<% end %>
