<div class="inner mt-4">
  <h1>How would you like to help?</h1>

  <!-- Search form -->
  <form class="form-inline active-purple-3 active-purple-4">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Enter your postcode" aria-label="Search">
  </form>
</div>
