<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
              The Camden Point
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
                <small class="d-block mb-3 text-muted">QuaranTeam&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Home</a></li>
                    <li><a class="text-muted" href="#">Foodbanks</a></li>
                    <li><a class="text-muted" href="#">Volunteer</a></li>
                    <li><a class="text-muted" href="#">Donate</a></li>
<!--                    <li><a class="text-muted" href="#">Another one</a></li>-->
<!--                    <li><a class="text-muted" href="#">Last time</a></li>-->
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">About</a></li>
                    <li><a class="text-muted" href="#">FAQ</a></li>
                    <li><a class="text-muted" href="#">Covid Response</a></li>
<!--                   <li><a class="text-muted" href="#">Privacy</a></li>-->
<!--                    <li><a class="text-muted" href="#">Terms</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
