<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:maps][:api_key] %>&callback=initMap&libraries=&v=weekly"
  defer
  ></script>
<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 70%;
    width: 70%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 55, lng: 0.1743 },
      zoom: 5.8,
    });
  }
</script>

<body>
  <div class="inner" id="map"></div>
</body>

